@import 'bootstrap-sprockets';
@import 'bootstrap';

@import "font-awesome-sprockets";
@import "font-awesome";

@import 'https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Merienda+One|Pacifico|Permanent+Marker|Finger+Paint';

/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}
.button {
	margin-right: 15px;
	margin-bottom: 15px;
}

/* Fonts */
.header-title {
	margin-bottom : 45px;
}
nav .logo-title {
  font-family: 'Pacifico', cursive;
  font-size: 25px;
}
nav {
  font-family: 'Permanent Marker', cursive;
}
h1 {
  font-family: 'Merienda One', cursive;
}
.select {
  height:100%;
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333;
}
body {
  color: #fff;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  display: inline-block;
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

/* @media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
} */


/*
 * Cover
 */

.cover {
  padding: 0 20px;
  margin-top:100px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}

.mastfoot p {
	text-align: center;
}


/*
 * Affix and center
 */

/* @media (min-width: 768px) {
  
  .masthead {
    position:relative;
    top: 0;
  }
.inner .cover {
  position:relative;
  top:0;
}
  .mastfoot {
    position:relative;
    bottom: 0;
  }
  
  
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; 
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 1170px;
  }
} */

select, input {
  color: black;
}


/*
 * Navbar
 */

.navbar {
   background-color: #333;
   background: #333;
   border-color: transparent;
   -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);

}
.navbar-default .navbar-brand {
  color: #FFF;
}
.navbar-default .navbar-nav > li > a {
  color: #FFF;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #777;
  background-color: transparent;
}

@media (max-width: 767px) {
  .nav-icon {
    display : none;
  }
  .nav-text {
    display : block;
  }
}
@media (min-width: 768px) {
  .nav-icon {
    display : block;
  }
  .nav-text {
    display : none;
  }
}

/*
 * Post-it user
 */

.postit {

  line-height: 1;
  text-align:center;     
  min-width: 275px;
  max-width:80%;    
  margin: 25px;    
  min-height:250px;
  padding:10px;
  position:relative;   
  border:1px solid #E8E8E8;  
  font-family: 'Gloria Hallelujah', cursive;
  color : #777;   
  border-bottom-right-radius: 60px 5px;
  display:inline-block;    
  background: #ffff88; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #ffff88 81%, #ffff88 82%, #ffff88 82%, #ffffc6 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(81%,#ffff88), color-stop(82%,#ffff88), color-stop(82%,#ffff88), color-stop(100%,#ffffc6)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg, #ffff88 81%,#ffff88 82%,#ffff88 82%,#ffffc6 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg, #ffff88 81%,#ffff88 82%,#ffff88 82%,#ffffc6 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg, #ffff88 81%,#ffff88 82%,#ffff88 82%,#ffffc6 100%); /* IE10+ */
  background: linear-gradient(135deg, #ffff88 81%,#ffff88 82%,#ffff88 82%,#ffffc6 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff88', endColorstr='#ffffc6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  box-shadow: 0px 4px 6px #000;
-moz-box-shadow: 0px 4px 6px #000;
-webkit-box-shadow: 0px 4px 6px #000;
}

.rotate {
  -moz-transform: rotate(7deg);
-webkit-transform: rotate(7deg);
-o-transform: rotate(7deg);
-ms-transform: rotate(7deg);
transform: rotate(7deg);
}

.postit-footer {
  padding-top: 40px;
  width:100%;
  border-bottom:25x solid #fdfd86;
  font-size: 22px;
}

.postit-footer p {
  width: 100%;
  margin-bottom: 20px;
}

.postit-buttons p {
  display: inline-block;
  width: 50%;
  margin-bottom: 20px;
}

.postit a {
  color: #777;
}

.postit-description {
  margin-bottom: 30px;
}

/*
 * Post-it tasks
 */

h4 {
  text-transform: uppercase;
  text-align: center;
  color: #ccc;
  margin-top: 20px;
}

/* @media (min-width: 1400px) {
    .container {
      width: 90% !important;
      max-width: 90% !important;
    }
} */

ul.card-stack {
    font-family: 'Gloria Hallelujah', cursive;
    float: left;
    margin: 15px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.1);
    list-style: none;
    padding: 10px;
    min-height: 200px;
    min-width: 100px;
    background-color: #29A2C6;
    border: 1px solid #ccc;
    position: relative;
}

.stack-label {
    text-transform: uppercase;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
    font-weight: bold;
    font-size: 30px;
    position: relative;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    margin: -15px 0 15px 0;
}
.stack-label:before {
    content: "\00a0";
    width: 20px;
    font-size: 30px;
    padding: 10px 0;
    position: absolute;
    left: -20px;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.1);
}
.stack-label:after {
    content: "\00a0";
    width: 20px;
    font-size: 30px;
    padding: 10px 0;
    position: absolute;
    right: -20px;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.1);
}

ul.card-stack:nth-child(even) {  
    -o-transform:rotate(4deg);  
        -webkit-transform:rotate(4deg);  
            -moz-transform:rotate(4deg);  
    transform: rotate(4deg);
    position:relative;  
    top:5px;  
}  
ul.card-stack:nth-child(3n) {  
    -o-transform:rotate(-3deg);  
        -webkit-transform:rotate(-3deg);  
            -moz-transform:rotate(-3deg);  
    transform: rotate(-3deg);
    position:relative;  
    top:-5px;  
}  
ul.card-stack:nth-child(5n) {  
    -o-transform:rotate(5deg);  
        -webkit-transform:rotate(5deg);  
            -moz-transform:rotate(5deg);  
    transform: rotate(5deg);
    position:relative;  
    top:-10px;  
} 

ul.card-stack:nth-child(2n) { background-color: #EF597B; }
ul.card-stack:nth-child(3n) { background-color: #FF6D31; }
ul.card-stack:nth-child(4n) { background-color: #73B66B; }
ul.card-stack:nth-child(5n) { background-color: #FFCB18; }

.item {
  color: white;
}

.item-last {
  padding-top: 40px;
}

.item-new {
  padding:50px;
}

#cardStackContainer ul {
  transition: all .2s ease-in-out; 
}

#cardStackContainer ul:hover {
    transform: scale(1.1); 
}

/*
 * Modal
 */

.modal {
  color: #777;
  font-family: 'Gloria Hallelujah', cursive;
  h4 {
    color: #777;
  }
  .modal-content {
    background-color: #ffff88;
  }
}

.check-text { margin-top: .3em; }

.fa-custom-plus {
  position: relative;
  bottom: 32px;
  left: 22px;
}

.fa-custom {
  margin-top: -20px;
}

.sample:after
{
    content:"DONE";
    position:absolute;
    bottom:200px;
    right:10px;
    z-index:1;
    font-family: 'Finger Paint', cursive;
    -webkit-transform: rotate(-45deg); /* Safari */
    -moz-transform: rotate(-45deg); /* Firefox */
    -ms-transform: rotate(-45deg); /* IE */
    -o-transform: rotate(-45deg); /* Opera */
    transform: rotate(-45deg);
    font-size:100px;
    color:#c00;
    background:#fff;
    border:solid 4px #c00;
    padding:5px;
    border-radius:5px;
    zoom:1;
    filter:alpha(opacity=20);
    opacity:0.6;
    -webkit-text-shadow: 0 0 2px #c00;
    text-shadow: 0 0 2px #c00;
    box-shadow: 0 0 2px #c00;
}