h4 {
  text-transform: uppercase;
  text-align: center;
  color: #ccc;
  margin-top: 20px;
}

@media (min-width: 1400px) {
    .container {
      width: 90% !important;
      max-width: 90% !important;
    }
}

ul.card-stack {
    float: left;
    margin: 15px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.1);
    list-style: none;
    padding: 10px;
    min-height: 100px;
    min-width: 100px;
    background-color: #29A2C6;
    border: 1px solid #ccc;
    position: relative;
}

.stack-label {
    text-transform: uppercase;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
    font-weight: bold;
    font-size: 16px;
    position: relative;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    margin-top: -14px;  
}
.stack-label:before {
    content: "\00a0";
    width: 20px;
    font-size: 16px;
    padding: 10px 0;
    position: absolute;
    left: -20px;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.1);
}
.stack-label:after {
    content: "\00a0";
    width: 20px;
    font-size: 16px;
    padding: 10px 0;
    position: absolute;
    right: -20px;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.1);
}

ul.card-stack:nth-child(even) {  
    -o-transform:rotate(4deg);  
        -webkit-transform:rotate(4deg);  
            -moz-transform:rotate(4deg);  
    transform: rotate(4deg);
    position:relative;  
    top:5px;  
}  
ul.card-stack:nth-child(3n) {  
    -o-transform:rotate(-3deg);  
        -webkit-transform:rotate(-3deg);  
            -moz-transform:rotate(-3deg);  
    transform: rotate(-3deg);
    position:relative;  
    top:-5px;  
}  
ul.card-stack:nth-child(5n) {  
    -o-transform:rotate(5deg);  
        -webkit-transform:rotate(5deg);  
            -moz-transform:rotate(5deg);  
    transform: rotate(5deg);
    position:relative;  
    top:-10px;  
} 

ul.card-stack:nth-child(2n) { background-color: #EF597B; }
ul.card-stack:nth-child(3n) { background-color: #FF6D31; }
ul.card-stack:nth-child(4n) { background-color: #73B66B; }
ul.card-stack:nth-child(5n) { background-color: #FFCB18; }